{% extends "ift-base.html.twig" %}

{% block page_header %}
    <div class="aboutus-header container animate-visible">
        <div class="aboutus-header-img"><img src="{{ asset('images/aboutus_header.jpg') }}"/></div>
        <div class="aboutus-header-info">
            <div class="label-blue">Known This First</div>
            <h1>Welcome to Integrity Crypto Trust!</h1>
            <p> ICT was founded by senior executives from the treasure, information technology and customer relationships departments of major banks and financial institutions. Together the team encompasses over 52 years of first-hand experience in their respective fields.</p>
            <p>ICT achives its success by empowering every member of the management team to contribute their specialisation and expertise into their respective departments while paying vigorous attention to our business model: delivering professional service, technical innovation and highest return possible in current market conditions.</p>
            <p>We maintain a customer-centric operation and insist to know our customers better. We understand that our success is synonymous with the loyalty of our customers; this business philosophy is implanted in the culture of ICT and encouraged through the commitment of management, supervisors and front-line employees to preserve service quality that consistently exceeds client’s expectations.</p>
        </div>
    </div>
{% endblock %}

{% block page_content %}
    <div class="aboutus-model-wrap">
        <div class="container">
            <div class="aboutus-model">
                <div class="aboutus-model-title"><h4>Our Corporate Values and Business Vision</h4></div>
                <div class="aboutus-model-description">
                    <p>We use various proprietary and third party bridge solutions to execute client’s orders to form custom structured ESP’s. The end result is a complete turnkey solution with superior terms and value added benefits.</p>
                </div>
                <div class="aboutus-model-pluses animate-visible">
                    <div class="aboutus-model-pluses-bg"></div>
                    <div class="aboutus-model-pluses-item aboutus-model-pluses-item-first">
                        <div>
                            <label>1</label>
                            <p>We consider every client to be individual and unique</p>
                        </div>
                        <div>
                            <label>2</label>
                            <p>We are motivated by the confidence of our clients</p>
                        </div>
                        <div>
                            <label>3</label>
                            <p>We spend time to understand our client’s needs</p>
                        </div>
                        <div>
                            <label>4</label>
                            <p>We are independent and not touched by conflict of interest and therefore able to use best-of-class products</p>
                        </div>
                    </div>
                    <div class="aboutus-model-pluses-item aboutus-model-pluses-item-second">
                        <div>
                            <label>5</label>
                            <p>We attache great importance to an active and individual consulting</p>
                        </div>
                        <div>
                            <label>6</label>
                            <p>We use our well proved network for individual solutions</p>
                        </div>
                        <div>
                            <label>7</label>
                            <p>We practice our business with passion and combine it with our long term experiences</p>
                        </div>
                        <div>
                            <label>8</label>
                            <p>We emphasize on sustainability and steadiness and not on quick wins</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container aboutus-team">
        <h2>Our Team</h2>
        <p>Milestones can be displayed in any size you specify, this example shows how creative you can get.</p>
        <div class="aboutus-team-items">
            <div class="aboutus-team-item">
                <div class="aboutus-team-item-photo"></div>
                <div class="aboutus-team-item-name">ALex Konstantinopolsky</div>
                <div class="aboutus-team-item-position">Founder</div>
                <div class="aboutus-team-item-info">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. A small river named Duden flows.</div>
                <div class="aboutus-team-item-links"><a href="">Facebook</a> / <a href="">Twitter</a> / <a href="">Youtube</a></div>
            </div>
            <div class="aboutus-team-item">
                <div class="aboutus-team-item-photo"></div>
                <div class="aboutus-team-item-name">ALex Konstantinopolsky</div>
                <div class="aboutus-team-item-position">Founder</div>
                <div class="aboutus-team-item-info">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. A small river named Duden flows.</div>
                <div class="aboutus-team-item-links"><a href="">Facebook</a> / <a href="">Twitter</a> / <a href="">Youtube</a></div>
            </div>
            <div class="aboutus-team-item">
                <div class="aboutus-team-item-photo"></div>
                <div class="aboutus-team-item-name">ALex Konstantinopolsky</div>
                <div class="aboutus-team-item-position">Head of Risk Management</div>
                <div class="aboutus-team-item-info">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. A small river named Duden flows.</div>
                <div class="aboutus-team-item-links"><a href="">Facebook</a> / <a href="">Twitter</a> / <a href="">Youtube</a></div>
            </div>
        </div>
    </div>
    <div class="homepage-reviews bg-light-grey">
        <div class="owl-carousel home-owl-carousel">
            <div class="review-item">
                <div class="review-item-title">
                    <div class="review-item-photo" style="background-image:url({{ asset('images/reviews_gabianni.jpg') }})"></div>
                    <div class="review-item-name">
                        <h5>Daniele Gabbiadini</h5>
                        <small>Instructor, Skate Nao</small>
                    </div>
                </div>
                <div class="review-item-body">"with this company mostly what i liked is the fast working platform thanks which i could make really fast money. It is really pleasure working with good professionals"</div>
                <div class="review-item-rating">
                    <span class="review-star-blue"></span>
                    <span class="review-star-blue"></span>
                    <span class="review-star-blue"></span>
                    <span class="review-star-blue"></span>
                    <span class="review-star-blue"></span>
                </div>
            </div>
            <div class="review-item">
                <div class="review-item-title">
                    <div class="review-item-photo" style="background-image:url({{ asset('images/reviews_lynch.jpg') }})"></div>
                    <div class="review-item-name">
                        <h5>Julian	Lynch</h5>
                        <small>Graphic Designer, Owl Eyes</small>
                    </div>
                </div>
                <div class="review-item-body">"First time in my life i felt that i invest with confident and professional team. Nice support. Nice responds. Comfortable conditions."</div>
                <div class="review-item-rating">
                    <span class="review-star-blue"></span>
                    <span class="review-star-blue"></span>
                    <span class="review-star-blue"></span>
                    <span class="review-star-blue"></span>
                    <span class="review-star-grey"></span>
                </div>
            </div>
            <div class="review-item">
                <div class="review-item-title">
                    <div class="review-item-photo" style="background-image:url({{ asset('images/reviews_woods.jpg') }})"></div>
                    <div class="review-item-name">
                        <h5>Kelly Woods</h5>
                        <small>Instructor, Skate Nao</small>
                    </div>
                </div>
                <div class="review-item-body">"It was my first time in financial industry and it is easy and profitable for me. After i got my personal manager Alex my investments became much more successful. Thank you"</div>
                <div class="review-item-rating">
                    <span class="review-star-blue"></span>
                    <span class="review-star-blue"></span>
                    <span class="review-star-blue"></span>
                    <span class="review-star-grey"></span>
                    <span class="review-star-grey"></span>
                </div>
            </div>
            <div class="review-item">
                <div class="review-item-title">
                    <div class="review-item-photo" style="background-image:url({{ asset('images/reviews_cohen.jpg') }})"></div>
                    <div class="review-item-name">
                        <h5>Barry Cohen</h5>
                        <small>Instructor, Skate Nao</small>
                    </div>
                </div>
                <div class="review-item-body">"When i have been introduced to the Integrity Crypto Trust ,   I already have been involved in the financial industry and thought it was the  same as previous products but surprisingly for me I got absolutely  different fruit on which is possible to get profit in a short period of time. It was for me really new challenge and I still continue working on it."</div>
                <div class="review-item-rating">
                    <span class="review-star-blue"></span>
                    <span class="review-star-blue"></span>
                    <span class="review-star-half-blue"></span>
                    <span class="review-star-grey"></span>
                    <span class="review-star-grey"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="contactus-map-box">
        <div class="cotactus-map" id="cotactus-map"></div>
        <div class="contactus-map-info">
            <div class="container">
                <div class="contactus-list">
                    <div class="contactus-list-item">
                        <h5>Estonia</h5>
                        <ul>
                            <li class="contactus-list-item-address">10151, Tallinn city, Ahtri tn 12-201<br><span>OÜ ITT LTD</span></li>
                            <li class="contactus-list-item-phone"><a href="tel:+442036085823">+44 20 3608 5823</a></li>
                            <li class="contactus-list-item-mail"><a href="mailto:support@integrityfund.io">support@integrityfund.io</a></li>
                        </ul>
                    </div>
                    {#<div class="contactus-list-item">#}
                        {#<h5>Ukraine</h5>#}
                        {#<ul>#}
                            {#<li class="contactus-list-item-address">01013, Kyiv, Budindustrii street 7b<br><span>ITT LLC</span></li>#}
                            {#<li class="contactus-list-item-phone"><a href="tel:+442036085823">+44 20 3608 5823</a></li>#}
                            {#<li class="contactus-list-item-mail"><a href="mailto:support@itt.team">support@itt.team</a></li>#}
                        {#</ul>#}
                    {#</div>#}
                    {#<div class="contactus-list-item">#}
                        {#<h5>Georgia</h5>#}
                        {#<ul>#}
                            {#<li class="contactus-list-item-address">Nutsubidze street 26-a, app.1, Tbilisi<br><span>Integrity.Trade LLC</span></li>#}
                            {#<li class="contactus-list-item-phone"><a href="tel:+442036085823">+44 20 3608 5823</a></li>#}
                            {#<li class="contactus-list-item-mail"><a href="mailto:support@integrity.trade">support@integrity.trade</a></li>#}
                        {#</ul>#}
                    {#</div>#}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/pages/aboutus.min.js') }}" ></script>
    <script src="{{ asset('js/googlemap.min.js') }}" ></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDh9mu-5WF1Xf6bqqdfactYt4sNG4HjzKI&callback=initMap" type="text/javascript"></script>
{% endblock %}