{% extends "ift-base.html.twig" %}

{% block page_header %}
    <div class="page-header">
        <div class="page-header-bg"></div>
    </div>
{% endblock %}

{% block page_content %}
    <div class="contactus-box">
        <div class="container">
            <div class="contactus-form">
                <div class="bg-white box-framed">
                    <div class="container">
                        {% include 'forms/contact-type.html.twig' %}
                    </div>
                </div>
            </div>
            <div class="contactus-info">
                <h1>Reach out with any questions you have</h1>
                <label>Call us directly</label>
                <a href="tel:+442036085823" class="contactus-phone">+44 20 3608 5823</a>
                <label>Contact email</label>
                <a href="mailto:support@integrityfund.io" class="contactus-email">support@integrityfund.io</a>
            </div>
        </div>
    </div>
    <div class="contactus-map-title">
        <h2>Our offices</h2>
        <p>In this next wave of the digital revolution, digital currencies are emerging as what many believe to be the
            greatest innovation since the advent of the internet.</p>
    </div>
    <div class="contactus-map-box">
        <div class="cotactus-map" id="cotactus-map"></div>
        <div class="contactus-map-info">
            <div class="container">
                <div class="contactus-list">
                    <div class="contactus-list-item">
                        <h5>United Kingdom</h5>
                        <ul>
                            <li class="contactus-list-item-address">1 Northumberland Avenue, Trafalgar Square, WC2N 5BW, <span>London</span></li>
                            <li class="contactus-list-item-phone"><a href="tel:+442036085823">+44 20 3608 5823</a></li>
                            <li class="contactus-list-item-mail"><a href="mailto:support@integrityfund.io">support@integrityfund.io</a></li>
                        </ul>
                    </div>
                    <div class="contactus-list-item">
                        <h5>Estonia</h5>
                        <ul>
                            <li class="contactus-list-item-address">10151, Tallinn city, Ahtri tn 12-201, M1 R43, OÜ ITT LTD, <span>Tallinn</span></li>
                            <li class="contactus-list-item-phone"><a href="tel:+442036085823">+44 20 3608 5823</a></li>
                            <li class="contactus-list-item-mail"><a href="mailto:support@integrityfund.io">support@integrityfund.io</a></li>
                        </ul>
                    </div>
                    <div class="contactus-list-item"></div>
                    {#<div class="contactus-list-item">#}
                        {#<h5>Ukraine</h5>#}
                        {#<ul>#}
                            {#<li class="contactus-list-item-address">01013, Kyiv, Budindustrii street#}
                                {#7b<br><span>ITT LLC</span></li>#}
                            {#<li class="contactus-list-item-phone"><a href="tel:+442036085823">+44 20 3608 5823</a></li>#}
                            {#<li class="contactus-list-item-mail"><a href="mailto:support@itt.team">support@itt.team</a>#}
                            {#</li>#}
                        {#</ul>#}
                    {#</div>#}
                    {#<div class="contactus-list-item">#}
                        {#<h5>Georgia</h5>#}
                        {#<ul>#}
                            {#<li class="contactus-list-item-address">Nutsubidze street 26-a, app.1, Tbilisi<br><span>Integrity.Trade LLC</span>#}
                            {#</li>#}
                            {#<li class="contactus-list-item-phone"><a href="tel:+442036085823">+44 20 3608 5823</a></li>#}
                            {#<li class="contactus-list-item-mail"><a href="mailto:support@integrity.trade">support@integrity.trade</a>#}
                            {#</li>#}
                        {#</ul>#}
                    {#</div>#}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/pages/contactus.min.js') }}?v={{ auth.getVersion() }}"></script>
    <script src="{{ asset('js/googlemap.min.js') }}?v={{ auth.getVersion() }}"></script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDh9mu-5WF1Xf6bqqdfactYt4sNG4HjzKI&callback=initMap"
            type="text/javascript"></script>
{% endblock %}