{% extends "ift-base.html.twig" %}

{% block page_header %}
    {{ include('controller/page/dashboard-header.html.twig') }}
{% endblock %}

{% block page_content %}
    <div class="bg-light-grey">
        <div class="container">
            <br>
            <div class="bg-white box-framed deposit-container">
                <div class="container">
                    {% if fill_profile_form is defined %}
                        <div class="fill-profile">
                            {{ form_start(fill_profile_form) }}

                            <fieldset>
                                {{ form_label(fill_profile_form.firstname) }}
                                {{ form_widget(fill_profile_form.firstname) }}
                                <div class="field-border"></div>
                                <div class="field-error">{{ form_errors(fill_profile_form.firstname) }}</div>
                            </fieldset>

                            <fieldset>
                                {{ form_label(fill_profile_form.lastname) }}
                                {{ form_widget(fill_profile_form.lastname) }}
                                <div class="field-border"></div>
                                <div class="field-error">{{ form_errors(fill_profile_form.lastname) }}</div>
                            </fieldset>


                            {{ form_widget(fill_profile_form.save) }}
                            {{ form_end(fill_profile_form) }}
                        </div>
                    {% endif %}

                    {% if sum_sub_verification_form is defined %}
                        <div class="sumsubverification">
                            <!-- iframe will be inserted as a child element -->
                            <div id="sumsub-websdk-container"></div>
                        </div>
                    {% endif %}
                    <div class="makedeposit">
                        <button class="btn btn_md btn_blue">Make Deposit</button>
                        <div class="makedeposit-error">Error! Try again later.</div>
                    </div>
                    <div class="verification">
                        <h5>We sent verification code to your e-mail</h5>
                        <form name="verification_form" class="verification-form">
                            <input id="code" name="verifying_code" type="text" placeholder="Verification code" maxlength="6" />
                            <input type="hidden" name="verifying_token" value="">
                            <button type="submit">Send</button>
                        </form>
                        <div class="verification-timer"></div>
                        <div class="verification-msg"></div>
                        <div class="verification-error"><br>Sorry but time is ended. The code doesn't valid already.<br>Please <a href="" class="verification-try-againe">try again</a>.</div>
                    </div>
                    <div class="deposit-addresses">

                    </div>
{#                    <div class="deposit-addresses">#}
{#                        <h4>BTC address</h4>#}

{#                        <div class="btc-address">#}

{#                        </div>#}
{#                        <div class="clear"></div>#}
{#                        <h4 style="margin-top: 30px;">USDT address</h4>#}
{#                        <div class="usdt-address">#}
{#                            <fieldset>#}
{#                                <label for="usdt-link">USDT address</label>#}
{#                            </fieldset>#}
{#                        </div>#}
{#                    </div>#}
                    {#                <div class="btc-address">#}
                    {#                    <fieldset>#}

                    {#                        <input id="btc-link" name="wallet_address_hash" type="text" readonly />#}
                    {#                        <input id="btc-link-memo" name="wallet_address_hash_memo" type="text" readonly />#}
                    {#                        <div class="field-border"></div>#}
                    {#                        <div class="field-error">Please input BTC address</div>#}
                    {#                    </fieldset>#}
                    {#                    <p>or use QR code for transfer of BTC to fund</p>#}
                    {#                    <div class="deposit-qr"><img src="" /></div>#}

                    {#                    <fieldset>#}
                    {#                        <label for="usdt-link">USDT address</label>#}
                    {#                        <input id="usdt-link" name="wallet_address_hash_usdt" type="text" readonly />#}
                    {#                        <input id="usdt-link-memo" name="wallet_address_hash_usdt_memo" type="text" readonly />#}
                    {#                        <div class="field-border"></div>#}
                    {#                        <div class="field-error">Please input USDT address</div>#}
                    {#                    </fieldset>#}
                    {#                    <p>or use QR code for transfer of USDT to fund</p>#}
                    {#                    <div class="deposit-qr"><img src="" /></div>#}

                    {#                </div>#}
                </div>

            </div>

        </div>
        <div class="container">
            {# @todo patch: move to stylesheet #}
            <style>
                .withdrawal-history {
                    clear: both;
                }
            </style>
            <div class="withdrawal-history">
                <div class="withdrawal-history-title">
                    <div class="withdrawal-history-amount">Amount</div>
                    <div class="withdrawal-history-wallet">Type</div>
                    <div class="withdrawal-history-status">Status</div>
                    <div class="withdrawal-history-date">Date</div>
                </div>
                <div class="withdrawal-history-content">
                    {% if money_movements is defined %}
                        {% for transaction in money_movements %}
                            <div class="withdrawal-history-row">
                                <div class="withdrawal-history-amount">{{ transaction.amount }} {{ transaction.coin }}
                                    <small>{{ transaction.fee.amount }} transaction fee</small>
                                </div>
                                <div class="withdrawal-history-wallet">{{ transaction.type }}</div>
                                <div class="withdrawal-history-status"><span class="withdrawal-status{% if transaction.status == 'PENDING' %}-pending{% endif %}">{{ transaction.status }}</span>
                                </div>
                                <div class="withdrawal-history-date">{{ transaction.datetime|date('d M, Y') }}
                                    <small>{{ transaction.datetime|date('H:i') }}</small>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                    {#<div class="withdrawal-history-row">#}
                        {#<div class="withdrawal-history-amount">1.1008887 BTC#}
                            {#<small>$10.00 transaction fee</small>#}
                        {#</div>#}
                        {#<div class="withdrawal-history-wallet">My main BTC Wallet</div>#}
                        {#<div class="withdrawal-history-status"><span class="withdrawal-status-complete">Complete</span>#}
                        {#</div>#}
                        {#<div class="withdrawal-history-date">13 JAN, 2018#}
                            {#<small>13:31</small>#}
                        {#</div>#}
                    {#</div>#}
                    {#<div class="withdrawal-history-row">#}
                        {#<div class="withdrawal-history-amount">567.8769 ETH#}
                            {#<small>no fee</small>#}
                        {#</div>#}
                        {#<div class="withdrawal-history-wallet">Ethereum</div>#}
                        {#<div class="withdrawal-history-status"><span class="withdrawal-status-complete">Complete</span>#}
                        {#</div>#}
                        {#<div class="withdrawal-history-date">30 DEC, 2017#}
                            {#<small>13:31</small>#}
                        {#</div>#}
                    {#</div>#}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/libs/radialIndicator.min.js') }}" ></script>
    <script src="{{ asset('js/libs/jquery.mask.min.js') }}" ></script>
    <script type="text/javascript">
        var initDepositStep = '{{ step }}';
    </script>
    {% if sum_sub_verification_form is defined %}
        <script src = "https://static.sumsub.com/idensic/static/sns-websdk-builder.js"></script>
        <script type="text/javascript">
            function launchWebSdk(apiUrl, flowName, accessToken, applicantEmail, applicantPhone) {
                let snsWebSdkInstance = snsWebSdk.Builder(apiUrl, flowName)
                    .withAccessToken(
                        accessToken,
                        (newAccessTokenCallback) => {
                            newAccessTokenCallback(accessToken)
                        }
                    )
                    .withConf({
                        lang: 'en',
                        email: applicantEmail,
                        phone: applicantPhone,
                        onMessage: (type, payload) => {
                            console.log('WebSDK onMessage', type, payload)
                        },
                        onError: (error) => {
                            console.error('WebSDK onError', error)
                        },
                    })
                    .build();
                snsWebSdkInstance.launch('#sumsub-websdk-container')
            }

            var onShowSumSubVerificationForm = () => {
                launchWebSdk('{{ sum_sub_verification_form.api_url }}', 'basic-kyc', '{{ sum_sub_verification_form.api_token }}', '{{ sum_sub_verification_form.user_email }}', '{{ sum_sub_verification_form.user_phone }}')
            }


        </script>
    {% endif %}

    <script src="{{ asset('js/pages/deposit.min.js') }}"></script>
    <script src="{{ asset('js/src/pages/deposit-cf.js') }}"></script>


{% endblock %}
