{% extends "ift-base.html.twig" %}

{% block page_header %}
    <div class="page-header short-header">
        <div class="page-header-bg"></div>
    </div>
{% endblock %}

{% block page_content %}
    <div class="container">
        <h1>Frequency Asked Questions</h1>
        <p class="description">In this next wave of the digital revolution, digital currencies are emerging as what many believe to be the greatest innovation since the advent of the internet.</p>
        <div class="faq-menu-wrap">
            <div class="faq-menu">
                <div class="faqmenu-section-1 active" data-target="faq-section-1">General</div>
                <div class="faqmenu-section-2" data-target="faq-section-2">Account Opening</div>
                <div class="faqmenu-section-3" data-target="faq-section-3">Section Three</div>
            </div>
            <p>Don’t your answer in FAQ? Create ticket to our support team. Menu & Ticket are Sticky to Sroll</p>
            <button onclick='$("#zsiq_agtpic").click();' class="btn btn_md btn_blue btn_transparent">Create Ticket</button>
        </div>
        <div class="faq-content">
            <div class="faq-content-section faq-section-1" data-menu="faqmenu-section-1">
                <h2>General Question (Groops only for example)</h2>
                <div class="faq-item active">
                    <div class="faq-item-btn"><span></span><span></span></div>
                    <div class="faq-item-info">
                        <h3>What exactly is Integrity Fundation?</h3>
                        <p style="display: block;">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. A small river named Duden. Far far away, behind the word mountains</p>
                    </div>
                </div>
                <div class="faq-item">
                    <div class="faq-item-btn"><span></span><span></span></div>
                    <div class="faq-item-info">
                        <h3>What exactly is Salient App?</h3>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. A small river named Duden. Far far away, behind the word mountains</p>
                    </div>
                </div>
                <div class="faq-item">
                    <div class="faq-item-btn"><span></span><span></span></div>
                    <div class="faq-item-info">
                        <h3>Do I need to link my bank account in order to use it?</h3>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. A small river named Duden. Far far away, behind the word mountains</p>
                    </div>
                </div>
                <div class="faq-item">
                    <div class="faq-item-btn"><span></span><span></span></div>
                    <div class="faq-item-info">
                        <h3>Will Integrity Fundation work on my mobile device?</h3>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. A small river named Duden. Far far away, behind the word mountains</p>
                    </div>
                </div>
                <div class="faq-item">
                    <div class="faq-item-btn"><span></span><span></span></div>
                    <div class="faq-item-info">
                        <h3>What exactly is Salient App?</h3>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. A small river named Duden. Far far away, behind the word mountains</p>
                    </div>
                </div>
            </div>
            <div class="faq-content-section faq-section-2" data-menu="faqmenu-section-2">
                <h2>Account opening</h2>
                <div class="faq-item">
                    <div class="faq-item-btn"><span></span><span></span></div>
                    <div class="faq-item-info">
                        <h3>What exactly is Integrity Fundation?</h3>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. A small river named Duden. Far far away, behind the word mountains</p>
                    </div>
                </div>
                <div class="faq-item">
                    <div class="faq-item-btn"><span></span><span></span></div>
                    <div class="faq-item-info">
                        <h3>What exactly is Salient App?</h3>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. A small river named Duden. Far far away, behind the word mountains</p>
                    </div>
                </div>
                <div class="faq-item">
                    <div class="faq-item-btn"><span></span><span></span></div>
                    <div class="faq-item-info">
                        <h3>Do I need to link my bank account in order to use it?</h3>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. A small river named Duden. Far far away, behind the word mountains</p>
                    </div>
                </div>
            </div>
            <div class="faq-content-section faq-section-3" data-menu="faqmenu-section-3">
                <h2>Section Three</h2>
                <div class="faq-item">
                    <div class="faq-item-btn"><span></span><span></span></div>
                    <div class="faq-item-info">
                        <h3>What exactly is Integrity Fundation?</h3>
                        <p style="display: block;">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. A small river named Duden. Far far away, behind the word mountains</p>
                    </div>
                </div>
                <div class="faq-item">
                    <div class="faq-item-btn"><span></span><span></span></div>
                    <div class="faq-item-info">
                        <h3>What exactly is Salient App?</h3>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. A small river named Duden. Far far away, behind the word mountains</p>
                    </div>
                </div>
                <div class="faq-item">
                    <div class="faq-item-btn"><span></span><span></span></div>
                    <div class="faq-item-info">
                        <h3>Do I need to link my bank account in order to use it?</h3>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. A small river named Duden. Far far away, behind the word mountains</p>
                    </div>
                </div>
                <div class="faq-item">
                    <div class="faq-item-btn"><span></span><span></span></div>
                    <div class="faq-item-info">
                        <h3>Will Integrity Fundation work on my mobile device?</h3>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. A small river named Duden. Far far away, behind the word mountains</p>
                    </div>
                </div>
                <div class="faq-item">
                    <div class="faq-item-btn"><span></span><span></span></div>
                    <div class="faq-item-info">
                        <h3>What exactly is Salient App?</h3>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. A small river named Duden. Far far away, behind the word mountains</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="bg-light-grey block-anyquetions">
        <div class="container">
            <h2>Create Ticket to Support Team</h2>
            <p>Please, send your contact information and our manager feedback to you</p>
            <div class="bg-white box-framed">
                <div class="container">
                    {% include 'forms/contact-type.html.twig' %}
                </div>
            </div>
        </div>
    </div>

    {#<script>#}
        {#window.addEventListener('load', function() {#}

            {#var liveregPhone = $('#phone');#}
            {#liveregPhone.intlTelInput({#}
                {#nationalMode: true,#}
                {#utilsScript: "js/libs/intlTelInputUtils.min.js"#}
            {#});#}
            {#liveregPhone.on("countrychange", function(e, countryData) {#}
                {#countryData.dialCode&&liveregPhone.val('+'+countryData.dialCode);#}
            {#});#}
            {#liveregPhone.mask('+000000000000');#}
        {#});#}
    {#</script>#}

    <div class="block-spesial_service">
        <h4>See our Special Services for Investors</h4>
        <div class="container">
            <a href="{{ path('route_product_item', {'name':'conservative'}) }}" class="block-spesial_service-item">
                <img class="block-spesial_service-item-img" src="{{ asset('images/special_service1.jpg') }}" />
                <h6>Conservative Trust</h6>
                <p>TOP-5 cryptocurrencies and classic money market fixed income instruments</p>
            </a>
            <a href="{{ path('route_product_item', {'name':'classic'}) }}" class="block-spesial_service-item">
                <img class="block-spesial_service-item-img" src="{{ asset('images/special_service2.jpg') }}" />
                <h6>Classic Trust</h6>
                <p>TOP-10 cryptocurrencies and most prospect ICO tokens</p>
            </a>
            <a href="{{ path('route_product_item', {'name':'confident'}) }}" class="block-spesial_service-item">
                <img class="block-spesial_service-item-img" src="{{ asset('images/special_service3.jpg') }}" />
                <h6>Confident Trust</h6>
                <p>Risky ICO of utility tokens and top-10 cryptocurrencies</p>
            </a>
            <a href="{{ path('route_product_item', {'name':'individual'}) }}" class="block-spesial_service-item">
                <img class="block-spesial_service-item-img" src="{{ asset('images/special_service4.jpg') }}" />
                <h6>Individual Portfolio</h6>
                <p>Combined ESP with some exclusive tokens carefully selected by our analysts</p>
            </a>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {#<script src="{{ asset('js/libs/jquery.scrollTo.min.js') }}" ></script>#}
    <script src="{{ asset('js/pages/faq.min.js') }}" ></script>
{% endblock %}