{% extends "ift-base.html.twig" %}

{% block page_header %}
    <div class="page-header short-header">
        <div class="page-header-bg"></div>
    </div>
{% endblock %}

{% block page_content %}
    <div class="bg-light-grey passwor-reset">
        <div class="bg-white box-framed">
            <div class="container">
                <h1>Reset password</h1>

                {{ form_start(form_password_change) }}

                {% for error in form_password_change_errors %}
                    <div class="flash-error">{{ error }}</div>
                {% endfor %}

                <fieldset
                        class="reset-password {% if form_password_change.password.first.vars.errors|length > 0 %}has_error{% endif %}">
                    {{ form_label(form_password_change.password.first) }}
                    {{ form_widget(form_password_change.password.first) }}
                    <div class="field-border"></div>
                    <div class="field-error">{{ form_errors(form_password_change.password.first) }}</div>
                </fieldset>

                <fieldset
                        class="reset-confirmpassword {% if form_password_change.password.second.vars.errors|length > 0 %}has_error{% endif %}">
                    {{ form_label(form_password_change.password.second) }}
                    {{ form_widget(form_password_change.password.second) }}
                    <div class="field-border">{{ form_errors(form_password_change.password.second) }}</div>
                </fieldset>

                {{ form_row(form_password_change._token) }}
                {{ form_widget(form_password_change.submit, {'attr' : {'class': 'btn btn_blue'}}) }}
                {{ form_end(form_password_change, {'render_rest': false}) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/pages/reset-password.min.js') }}"></script>
{% endblock %}