{% extends "ift-base.html.twig" %}

{% block page_header %}
    <div class="page-header">
        <div class="page-header-bg"></div>
        <div class="title-wrap animate-visible"><h1>Restore Password</h1></div>
        <div class="title-description-wrap animate-visible"></div>
        <div class="title-link-wrap animate-visible">
            <a href="{{ path('route_product_list') }}" class="btn btn_lg btn_blue">For Investors <span class="hidden-arrow-right"></span></a>
            <a href="{{ path('route_portfolio') }}" class="btn btn_lg">For Advisors <span class="hidden-arrow-right"></span></a>
        </div>
    </div>
{% endblock %}

{% block page_content %}
    <div class="bg-light-grey">
        <br>
        <br>
        <div class="container bg-white box-framed">
            {{ form_start(form) }}
            {% if form.vars.errors|length > 0 %}
                <div style="color: #AA3333; padding: 20px; margin: 10px 0; background-color: lightpink; border-radius: 3px;">
                    {{ form_errors(form) }}
                </div>
            {% endif %}

            <fieldset>
                {{ form_label(form.email) }}
                {{ form_widget(form.email) }}
                <div class="field-border"></div>
                <div class="field-error">{{ form_errors(form.email) }}</div>
            </fieldset>

            <fieldset>
                {{ form_widget(form.submit, {'attr': {'class': 'btn btn-action btn_blue'}}) }}
            </fieldset>
            {{ form_end(form) }}
        </div>
        <br>
        <br>
    </div>
{% endblock %}