<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to INTEGRITY Crypto Trust!</title>
</head>
<body>
    <h3>Dear {{CLIENT_NAME}},</h3>
    <p>Thank You for Your registration with INTEGRITY Crypto Trust! We really appreciate Your interest and confidence in our service!</p>
    <p>You can enter Your Private cabinet the the following</p>
    <p><b>Login:</b> {{LOGIN}}</p>
    <p>and</p>
    <p><b>Password:</b> {{PASSWORD}}</p>

    <p>In case if You will have any questions, please, don’t hesitate to contact with us by e-mail: <a href="mailto:{{ INTEGRITY_EMAIL }}">{{ INTEGRITY_EMAIL }}</a></p>

    <p>Yours faithfully,<br/>
    INTEGRITY Crypto Trust Team</p>
</body>
</html>